<div class="row">
	<div class="col-md-6">
		<% @posts.each do |p| %>
			<h1><a href="/post/<%= p.id %>"><%= p.title %></a></h1>
			<h4><%= p.created_at %></h4>
			<p><%= p.body %></p>
		<% end %>
	</div>
</div>